body{
    background-color: threedface;
}

form{
 position:absolute;
 top:40%;
 left:50%;
 transform: translate(-50%,-50%);
}

table{
    border:1px solid black;
    background-color: #ddd;
}
td{
    padding:10px;



}

.titre_tab{
    text-align: center;
    background-color: #bbb;
    padding:20px;

}

