@import url('https://fonts.googleapis.com/css?family=Arimo|Lora|Playfair+Display|Raleway|Titillium+Web');

html, body {

    background-image: linear-gradient(white, #2e81ff);
    padding: 5px;
    height: 1200px;
}

.barre {
    height: 20px;
    background-image: radial-gradient(white, #2e81ff);
}

#titre_principal {
    margin-top: 10px;
    color: #2162ff;
    text-shadow: 3px 3px 2px white;
}

#conteneur_header {
    background-image: linear-gradient(60deg, white, #2e81ff);
    height: 150px;

}

#conteneur_header, img {
    height: 150px;

}

#barre_connexion {
    font-size: 12px;
    height: 45px;
    padding: 10px;
    background-image: radial-gradient(white, #b2dede);
    color: #1f59ff;
    margin-bottom: 10px;
}

#pseudo {
    margin-right: 10px;
    color: black;
    border-radius: 6px;
}

#mot_de_passe {
    color: black;
    margin-right: 10px;
    border-radius: 6px;
}

#btn_connexion {
    height: 25px;
    background-image: radial-gradient(white, #b2dede);
    border-radius: 6px;
}

#connexion {
    visibility: visible;
}

.menu_gauche {
    padding: 10px;
    height: 600px;
    background: whitesmoke;
}

.menu_titre {
    background-color: #2e81ff;
    color: white;
    padding: 5px;
    font-weight: 600;
}

#conteneur {
    padding-left: 5px;
}

.contenu {
    background-image: linear-gradient(60deg, white, #d4f5ed);
    padding: 5px;
    height: 600px;

}

#tableau_reservation {
    margin-left: 20px;
}